  
<div class="row">
	<div class="large-12 columns banner">
 <ul data-orbit>
  <li>
    <%=image_tag "test.jpg" %>
    <div class="orbit-caption">one</div>
  </li>
  <li>
    <%=image_tag "test2.jpg" %>
    <div class="orbit-caption">two</div>
  </li>
  <li>
   <%=image_tag "test3.jpg" %>
    <div class="orbit-caption">three</div>
  </li>
</ul>
    </div>
  </div>
  
  <!-- End Nav and Banner -->
  
  
<div class="row">

  <div class="large-12 columns">

      <div>

        <p><h4 class="subheader">Albany Dust Free Cleaning will give you a friendly and personable experience that you deserve.</h4></p>

    </div>


</div>

  <div class="row">

     <ul class="small-block-grid-2 large-block-grid-4">

        <li class= "myImage"><%=image_tag("demo1.jpg")%></li>

          <li class="th myImage"><%=image_tag("demo2.jpg")%></li>

            <li class="th myImage"><%=image_tag("demo3.jpg")%></li>


              <li class="th myImage"><%=image_tag("demo4.jpg")%></li>

       


     </ul>


  </div>

  <!-- Main Content Section -->
  
  
  
  
  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get a Quote</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Check out are Service App!</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Get a Quote</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
