  
<div class="row">
	<div class="large-12 columns banner">
 <ul data-orbit>
  <li>
    <%=image_tag "living_room_1000_400.jpg" %>
    <div class="orbit-caption">Clean Comfortable Living Areas</div>
  </li>
  <li>
    <%=image_tag "bathroom_1000_400.jpg" %>
    <div class="orbit-caption">Spotless sanitized bathrooms</div>
  </li>
  <li>
   <%=image_tag "dining_room_1000_400.jpg" %>
    <div class="orbit-caption">Clean Dining Areas Ready for The Holidays</div>
  </li>

  <li>
   <%=image_tag "kitchen_1000_400.jpg" %>
    <div class="orbit-caption">Clean Kitchens Ready For Food Preperation</div>
  </li>
</ul>
    </div>
  </div>
  
  <!-- End Nav and Banner -->



  
  
<div class="row">

  <div class="large-12 columns">

      

       <h4>Albany Dust Free Cleaning will give you a friendly and personable experience that you deserve.</h4>

    </div>


</div>

 

  <!-- Main Content Section -->
  
  
  
  
  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns banner">
    
      <div class="subPanel">
        <h4>Get A Free Consult</h4>
            
        <div class="row">
          <div class="large-9 columns">

           <p>Call or email us today for a free consultation for your professional cleaning needs.</p>
           
          </div>
          <div class="large-3 columns">
            <%=link_to 'Contact Us', contacts_new_path, class: 'home-button right'%>
          
          </div>
        </div><!-- end nested row -->

      </div><!-- end panel -->
      
    </div>
  </div>
