


<h3>Rates List</h3>

<table class="table">

   <tr>

<th>Title</th>
<th>Price</th>
<th>Addtional Hour Rate</th>
<th>Description</th>
   </tr>
    

    <%@rates.each do |rate|%>

   <tr>


<td><%=rate.title%></td>
<td><%=rate.price%></td>
<td><%=rate.hour%></td>
<td><%=rate.desp%></td>
<td><%=link_to 'Edit', edit_rate_path(rate)%></td>
   </tr>

  <%end%>

</table>