<div class="row">


	<div class="large-6 columns static-space">


<h4 class="subheader">Rate System</h4>



   <%=form_for(@rates) do |f|%>

   <div class="field">
   
   <%=f.label :title%>
 
	<input name="rate[title]" type="text" placeholder="Enter Title"/>
	</div>

	 <div class="field">
   
   <%=f.label :price%>
 
	<input name="rate[price]" type="text" placeholder="Enter Price"/>
	</div>

	 <div class="field">
   
   <%=f.label :hour%>
 
	<input name="rate[hour]" type="text" placeholder="Enter addtional hour"/>
	</div>

	 <div class="field">
   
   <%=f.label :desp%>
 
	<input name="rate[desp]" type="text" placeholder="Enter description"/>
	</div>

	

       <div class="field">

       	<%= f.button :submit, class: "formButton"%>


       </div>

	<%end%>

</div><!--end-->


	




		<div class="large-6 columns static-space">

		<h4 class="subheader" >Phone  &rarr;</h4>
		<h5 class="subheader panel">
			<p>Call us @(518)944-4804.</p>
			
			<p>Please contact us for any questions,concerns or a free consult.</p>
		</h5>


	</div>









</div>	
