<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
     <meta name="author" content="Christopher Crowd">
    <meta name="description" content="Albany Dust Free Cleaning Service">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Albany Dust Free Cleaning" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%=controller.controller_name%>">
    <div class="wrapper">


     <nav class="top-bar">

       <ul class="title-area">

           <li class="name"><h1 class="logo"><%=image_tag 'albany_logo.png'%>
            
         </li>
         </ul>
       

         <section class="top-bar-section">
          
           <ul class="left">
                

                 <li class="header-links"><%= link_to 'Home', static_pages_url%></li>
                   <li class="header-links"><%= link_to 'Rates', static_pages_rates_path%></li>

                 
                      <li class="header-links"><%= link_to 'Services', static_pages_services_path%></li>
                          <li class="header-links"><%= link_to 'Contact', contacts_new_path%></li>

           </ul>

           <div class="right white-headers">Phone:(518)944-4804</div>

         </section>
    </nav>




   


    <div class="content">

    <%= yield %>

    </div>


     <!-- Footer -->
  <div class="wide">
  <footer class="row">

    <div class="large-12 columns banner">
    
      <div class="row">
        <div class="large-6 columns">
        
          <p class="content-footer">Phone: 518-944-4804</p>
          <p class="content-footer">Email: customerservice@albanydfcleaning.com</p>
           <p class="content-footer banner">Albany Dust Free Cleaning &copy; Copyright 2013 </p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right low-nav">


              <li><%= link_to 'HOME', static_pages_url%></li>
            <li><%= link_to 'RATES', static_pages_rates_path%></li>
            <li><%= link_to 'SERVICES', static_pages_services_path%></a></li>
          
            <li><%= link_to 'ABOUT US', static_pages_about_path%></li>

              <li><%= link_to 'CONTACT', contacts_new_path%></li>
          
          </ul>
        </div>

      </div>
    </div> 
  </footer>
  </div>


  </div>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
