<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
     <meta name="author" content="Chris
      Crowd">
    <meta name="description" content="Albany Dust Free Cleaning Service">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Albany Dust Free Cleaning" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%=controller.controller_name%>">
    <div class="wrapper">

  

  <header>

        
          <div class="header_container">

              <div class="logos"><%=image_tag 'albany_logo_s.png'%>
              </div>

             
             <div class="navi"> 
               <ul class="inline-list t-control">


              <li class="header-links"><%= link_to 'Home', static_pages_url%></li>
            <li class="header-links"><%= link_to 'Rates', static_pages_rates_path%></li>
            <li class="header-links"><%= link_to 'Services', static_pages_services_path%></a></li>
          
            <li class="header-links"><%= link_to 'About Us', static_pages_about_path%></li>

              <li class="header-links"><%= link_to 'Contact', contacts_new_path%></li>
          
          </ul>
          </div>

            <div class="menu"><%=link_to image_tag 'menu.png'%></div>
            <div class="phone"><p>Phone:518-944-4804</p>  </div>
                                            
                                            
            
          </div>
  </header>

   


    <div class="content">

    <%= yield %>

    </div>


     <!-- Footer -->
  <div class="wide">
  <footer class="row">

    <div class="large-12 columns banner">
    
      <div class="row">
        <div class="large-6 columns">
        
          <p class="content-footer">Phone: 518-944-4804</p>
          <p class="content-footer">Email: customerservice@albanydfcleaning.com</p>
           <p class="content-footer banner">Albany Dust Free Cleaning &copy; Copyright 2013 </p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right low-nav">


              <li class="header-links"><%= link_to 'Home', static_pages_url%></li>
            <li class="header-links"><%= link_to 'Rates', static_pages_rates_path%></li>
            <li class="header-links"><%= link_to 'Services', static_pages_services_path%></a></li>
          
            <li class="header-links"><%= link_to 'About Us', static_pages_about_path%></li>

              <li class="header-links"><%= link_to 'Contact', contacts_new_path%></li>
          
          </ul>
        </div>

      </div>
    </div> 
  </footer>
  </div>


  </div>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
