<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Albany Dust Free Cleaning" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%=controller.controller_name%>">
    <div class="wrapper">
    <nav class="top-bar">

       <ul class="title-area">

           <li class="name"><h1 class="logo"><%=image_tag 'adfc_tag3.png'%>
             <p>Friendly &#38; Professional Service</p>
            <%= link_to 'Albany Dust Free Cleaning', static_pages_url%></h1></li>
         </ul>
       

         <section class="top-bar-section">
          
           <ul class="right">
                

                 <li><%= link_to 'Home', static_pages_url%></li>
                   <li><%= link_to 'Rates', static_pages_rates_path%></li>

                 
                      <li><%= link_to 'Services', static_pages_services_path%></li>
                          <li><%= link_to 'Contact', contacts_new_path%></li>

           </ul>

         </section>
    </nav>


    <div class="content">

    <%= yield %>

    </div>


     <!-- Footer -->
  <div class="wide">
  <footer class="row">

    <div class="large-12 columns banner">
    
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013 Albany Dust Free Cleaning</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
           
            <li><%= link_to 'Rates', static_pages_rates_path%></li>
            <li><%= link_to 'Services', static_pages_services_path%></a></li>
          
            <li><%= link_to 'About Us', static_pages_about_path%></li>

              <li><%= link_to 'Contact', contacts_new_path%></li>
          
          </ul>
        </div>
      </div>
    </div> 
  </footer>
  </div>


  </div>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
